<div class="videos row">
    <div *ngFor="let video of _videos; let i = index">
        <div class="video col-sm-4 col-md-3">
            <h3 class="title"><a [routerLink]="['/' + _paths.video, video._id]">{{video.name}}</a></h3>
            <div align="center" class="video-player embed-responsive embed-responsive-16by9">
                <div class="overlay" (click)="_playVideo(video._id)" [hidden]="_activeVideoId === video._id">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <video id="{{video._id}}" class="embed-responsive-item" [controls]="_activeVideoId === video._id">
                    <source src="{{video.url}}" type="video/mp4">
                </video>
            </div>
            <rating [videoId]="video._id" [ratings]="video.ratings" (rate)="_onRate($event, i)"></rating>
            <div class="description-container">
                <div class="description">{{video.description}}</div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="!_loading" class="lazy-load row">
    <spinner></spinner>
</div>