<div class="login col-sm-4 col-sm-push-4">
    <h2 class="title">#Hello</h2>
    <span [hidden]="!_username" class="name">{{_username}}</span>
    <form (ngSubmit)="onSubmit(authForm.value)" #authForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" required [(ngModel)]="_username" ngControl="username"
                   [class.has-error]="!(username.valid || username.pristine) || hasFailed"
                   (keydown)="_clearError()"
                   #username="ngForm" novalidate>
            <div [hidden]="username.valid || username.pristine" class="error username-error">Name is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" required [(ngModel)]="_password"
                   [class.has-error]="!(password.valid || password.pristine) || hasFailed"
                   (keydown)="_clearError()"
                   ngControl="password" #password="ngForm" novalidate>
            <div [hidden]="password.valid || password.pristine" class="error password-error">Password is required</div>
        </div>
        <div [hidden]="!hasFailed || !authForm.valid" class="error form-error">{{_error}}</div>
        <button class="btn pull-right" tabindex="-1" [disabled]="!authForm.valid || isPending">Login</button>
    </form>
</div>