.video-details {
  $titleHeight: 34px;

  margin-bottom: $md-gutter !important;

  @include min-width($screen-sm-min) {
    padding-right: $lg-gutter;
  }

  @include max-width($screen-xs-max) {
    padding: 0;
  }

  .title {
    height: $titleHeight !important;
    border: none !important;
    padding-left: 0 !important;
  }

  .description-container {
    border-bottom: none !important;

    .description {
      height: auto !important;
      display: block !important;
      -webkit-line-clamp: initial !important;
    }
  }
}

.video-suggestions {
  $titleHeight: 21px;

  margin-top: $md-gutter !important;

  @include max-width($screen-xs-max) {
    padding: 0;
    border-top: 1px solid dimgray;
  }

  .title {
    height: $titleHeight !important;
  }
}